services:
  borg-isaac-gr00t:
    image: davideborg/borg-isaac-gr00t:dev
    container_name: brev-borg-isaac-gr00t
    runtime: nvidia
    network_mode: host

    shm_size: "16gb"

    volumes:
      - ../:/workspace

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
              - gpu
              - utility
              - compute
              - video 

    entrypoint: bash
    stdin_open: true
    tty: true